@charset "UTF-8";
@import "@nuxt/ui";
@import "tailwindcss";
@import './reset.css';
@import './variables.css';
@import './global.css';
@config "../../../tailwind.config.js";

@theme inline {
    --ff-primary: Roboto, var(--system-fonts), sans-serif;
    --ff-secondary: Poppins, var(--system-fonts), sans-serif;

    --color-primary: var(--clr-primary);
    --color-secondary: var(--clr-secondary);
    --color-tertiary: var(--clr-tertiary);
    --color-brand: var(--clr-brand);
    --color-info: var(--clr-info);
    --color-success: var(--clr-success);
    --color-warning: var(--clr-warning);
    --color-error: var(--clr-error);
    --color-neutral: var(--clr-neutral);

}


